:root {
  color: #000000;
  background-color: #ffffff;
  font-family: Cardo;
  font-size: 16pt;
  scroll-behavior: smooth;
}
html {
    margin: 0 auto;
    max-width: 777px;
}
@font-face {
    font-family: Cardo;
    src: url(../resources/fonts/Cardo/Cardo-Regular.ttf);
}
@media (prefers-color-scheme: dark) {
    :root {
      color: #eeeeee;
      background-color: #111111;
      font-family: Cardo;
      font-size: 16pt;
      scroll-behavior: smooth;
    }
}
